<html>
    <head>
        <title>Análisis de fisuras</title>
        <style>
            #Titulo{
            position: relative;
            top: 10px;
            left: 100px;
            }
            #etiqueta{
            position: relative;
            top: 180px;
            left: 80px;
            }
            #cuadro{
            position: relative;
            top: 180px;
            left: 120px;
            }
            #boton{
            position: relative;
            top: 280px;
            left: 70px;
            }
            
        </style>
    </head>
    <body>
        <!-- Etiqueta de título -->
        <h1 id="Titulo">Análisis de fisuras</h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    
    </body>
</html>
